<% provide :title, t(".title") %>
<h1><%= t ".heading" %></h1>
<p>
  <%= t(".content",
    home: "http://www.railstutorial.org/",
    book: "http://www.railstutorial.org/book",
    screencast_series: "http://screencasts.railstutorial.org/",
    RoR: "http://rubyonrails.org/").html_safe %>
</p>
