# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: c1e9d7a5ec6787d3efded346e34ea378b9e94ef4659b4d1786b89aa7766e4554469b8a4be7f772cb88f18aecb119b0bd7016afb1ccb3e38900c4121f567cb08b

test:
  secret_key_base: bb28476c6406eb94482d3b502c996daea38023d7811745c5e6b6d439eef3a8f15924e5edff32becf407429e5ea0985d63ff83ed4fe2220d35e438b6fdcdb74d3

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
