@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medium-light: #eaeaea;
$light-gray: #777;
$black: #222;
$black-light: #555;
$gray-light: #bbb;
$gray-hight-light: #e8e8e8;
$red: #f00;
$gray-medium: #808080;
$blue: rgb(25, 180, 252);
$gray-d: #ddd;
$white: #fff;

@mixin box-sizing {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $light-gray;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.logo {
  color: $light-gray;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $light-gray;
    text-decoration: none;
  }
}

img {
  display: none;
}

footer {
  border-top: 1px solid $gray-medium-light;
  color: $light-gray;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $black-light;

    &:hover {
      color: $black;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.debug_dump {
  @include box-sizing;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

aside {
  .user-info {
    margin-top: 20px;
  }

  textarea {
    height: 100px;
    margin-bottom: 5px;
  }

  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $gray-light;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto;
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

.session_remember_me {
  margin-left: 0;
  width: auto;
}

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

.microposts {
  list-style: none;
  padding: 0;

  li {
    border-top: 1px solid $gray-hight-light;
    padding: 10px 0;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

.stats {
  margin-top: 0;
  overflow: auto;
  padding: 0;

  a {
    border-left: 1px solid $gray-lighter;
    color: $gray-medium;
    float: left;
    padding: 0 10px;

    &:first-child {
      border: 0;
      padding-left: 0;
    }

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }

  strong {
    display: block;
  }
}

.follow {
  padding: 0;
}

.group-member {
  .heading {
    border: 1px solid $gray-d;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
  }
}

.post-index {
  border: 1px solid $gray-d;
  border-radius: 3px;
  padding: 10px;
}

.button-action {
  margin-bottom: 5px;
}

.joined {
  background-color: $blue;
  border-radius: 3px;
  color: $white;
  padding: 5px;
}
